/*--general style --*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

.our-team-title,
.portfolio-title {
  margin-bottom: 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  font-family: Roboto, sans-serif;
}
/* =======================common style =========================== */

/* ================= header mobile  style BEGIN ========================*/
@media screen and (max-width: 767px) {
  .link-logo {
    display: block;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-decoration: none;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-logo:focus {
    color: #404bbf;
  }

  .link-logo-studio {
    color: #2e2f42;
  }

  .mobile-menu-btn {
    border: none;
    background-color: transparent;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background-color: #ffffff;
    transform: translatex(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    transform: translatex(0%);
  }

  .mobile-menu-conteinet {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu-close-bnt {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    line-height: 0;
    background-color: #e7e9fc;
    padding: 0;
    fill: #2e2f42;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-nav-list {
    padding-top: 72px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 0;
    margin-bottom: 155px;
  }
  .mobile-menu-nav-item-link {
    text-decoration: none;
    color: #2e2f42;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .mobile-menu-nav-item-link:focus {
    color: #404bbf;
  }

  .mobile-menu-address {
    margin-bottom: 61px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .mobile-menu-address-item-link {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .mobile-menu-address-item-link:focus {
    color: #4d5ae5;
  }

  .mobile-menu-social {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;
    fill: #404bbf;
  }

  .mobile-menu-social-lnk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .mobile-menu-social-lnk:focus {
    color: #404bbf;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }

  .nav {
    justify-content: space-between;
  }

  .nav-ul {
    display: none;
  }

  .mobile-menu-close-tbn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .address {
    display: none;
  }
  /*=========================== mobile hero section style  BEGIN===================*/

  .hero-section {
    max-width: 767px;
    background-color: #2e2f42;
    padding: 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2e2f42;
    background-position: center;
  }

  .hero-section .container {
    flex-direction: column;
    min-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-title {
    min-width: 271px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-align: center;
    padding-left: 59px;
    padding-right: 60px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .button {
    border: none;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:focus {
    background-color: #404bbf;
  }

  /*=========================== mobile hero section style  E N D ===================*/

  /*=========================== mobile advantages section style  BEGIN ===================*/
  .advantages-list-icon {
    display: none;
  }

  .advantages-list .title-li {
    color: #2e2f42;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .advantages-list .text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02px;
    margin-bottom: 72px;
  }
  /*=========================== mobile advantages section style  E N D ===================*/
  /*=========================== mobile our team section style  BEGIN ===================*/
  .our-team {
    padding: 96px 0;
    background-color: #f4f4fd;
  }
  .our-team .container {
    flex-wrap: wrap;
  }

  .our-team-title,
  .portfolio-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    font-family: Roboto, sans-serif;
  }

  .our-team-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .our-team-list .list-li {
    border-radius: 0px 0px 4px 4px;
  }

  .name-profession {
    padding: 32px 0;
    width: 264px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
  }

  .our-team .title-li,
  .our-team .text {
    text-align: center;
    margin-bottom: 8px;
  }

  .title-li {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
  }

  .our-team-social-list-link {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  /*    take it from name profession    */
  .our-team-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .our-team-social-links {
    fill: #f4f4fd;
  }

  .our-team-social-link-a {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-team-social-link-a:focus {
    background-color: #404bbf;
  }
  /*=========================== mobile our team section style  E N D ===================*/
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ @2x.jpg);
  }
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* =================mobile style  E N D   ========================*/

/* =================  tablet style@ ========================*/
/*================== tablet header style BEGIN  =====================*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;
    background-color: #ffffff;

    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .header-container {
    height: 72px;
    display: flex;
    justify-content: space-between;
  }

  .link-logo {
    margin-right: 76px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    text-decoration: none;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-logo:focus {
    color: #404bbf;
  }

  .link-logo-studio {
    color: #2e2f42;
  }

  .link-logo {
    margin-right: 121px;
  }

  .nav-ul {
    gap: 40px;
    display: flex;
  }

  .nav-list .link {
    display: block;
    padding: 24px 0;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    position: relative;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .active-page::after {
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    content: '';
    background-color: #404bbf;
  }

  .nav-list a:focus {
    color: #404bbf;
  }
  .address {
    display: flex;
    margin-left: 16px;
  }

  .address-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    text-decoration: none;
  }

  .address-ul .link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    color: #434455;
    letter-spacing: 0.04em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address .link:focus {
    color: #404bbf;
  }

  /*navigation properties*/

  .nav {
    display: flex;
    align-items: center;
  }
  /* ================= tablet header style@ E N D  ========================*/

  /*=========================== tablet hero section style  BEGIN ===================*/

  .hero-section {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2e2f42;
    background-position: center;
  }

  .hero-section .container {
    flex-direction: column;
  }

  .hero-title {
    width: 496px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    border: none;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .button:focus {
    background-color: #404bbf;
  }
  /*=========================== tablet hero section style  E N D ===================*/

  /*=========================== tablet advantages section style  BEGIN ===================*/
  .advantages-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .advantages-list-icon {
    display: none;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .advantages-list .list-li {
    width: calc((100% - 48px) / 2);
  }
  .advantages-list .title-li {
    color: #2e2f42;
    text-align: start;
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  .advantages-list .text {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02px;
  }

  /*=========================== tablet advantages section style  E N D ===================*/
  /*=========================== tablet our team section style  BEGIN ===================*/

  .our-team {
    padding: 120px 0;
    background-color: #f4f4fd;
  }
  .our-team .container {
    flex-wrap: wrap;
  }

  .our-team-title,
  .portfolio-title {
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    font-family: Roboto, sans-serif;
  }

  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 93px;
    padding-right: 93px;
  }

  .our-team-list .list-li {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24px) / 2);
  }
  /*
.our-team-photo {
  
}*/

  .name-profession {
    width: 264px;
    padding: 32px 0;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .our-team .title-li,
  .our-team .text {
    text-align: center;
    margin-bottom: 8px;
  }

  .title-li {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
  }

  .text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
  }

  .our-team-social-list-link {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  /*    take it from name profession    */
  .our-team-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .our-team-social-links {
    fill: #f4f4fd;
  }

  .our-team-social-link-a {
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .our-team-social-link-a:hover {
    background-color: #404bbf;
  }

  .our-team-social-link-a:focus {
    background-color: #404bbf;
  }

  /*=========================== tablet our team section style  E N D ===================*/
}

/* =================  desctop style@ ========================*/
/* =================  desctop heder style@ ========================*/

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .link-logo {
    margin-right: 76px;
  }

  .link-logo:hover {
    color: #404bbf;
  }

  .nav-list a:hover {
    color: #404bbf;
  }
  .address-ul {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }

  .address-ul .link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address .link:hover {
    color: #404bbf;
  }

  /*=========================== desctop header section style  E N D ===================*/
  /*=========================== desctop hero section style  BEGIN ===================*/
  .hero-section {
    max-width: 1440px;
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  /*=========================== desctop hero section style  E N D ===================*/

  /*=========================== desctop advantages section style  BEGIN ===================*/
  .advantages-section {
    padding: 120px 0;
  }

  .advantages-section,
  .list-li {
    background-color: #ffffff;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-list .list-li {
    width: calc((100% - 72px) / 4);
  }

  .advantages-list .title-li {
    margin-bottom: 8px;
  }

  .advantages-pict-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .advantages-list-icon {
    display: flex;
  }

  /*=========================== desctop advantages section style  E N D ===================*/
  /*=========================== desctop our team section style  BEGIN ===================*/
  .our-team-list .list-li {
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
  }

  .our-team-list {
    padding: 0;
  }
  /*=========================== desctop our team section style  E N D ===================*/
}
